* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    background-color: #ccc;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 360px;
    min-height: 100px;
    align-items: center;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    /* right: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
.form-img {
    min-height: 200px;
    background-image: url("https://tranhtreophongkhachdep.com/wp-content/uploads/2017/07/anh-dep-ha-noi-ho-tay-ve-dem.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

.form-heading {
    padding: 25px 20px;
}
.form-title {
    margin-bottom: 30px;
    color: gray;
    padding: 0 50px;
}

.form-box {
    margin: 10px 20px;
    padding: 10px;
    background-color: rgb(255, 199, 199);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.form-img-icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: white;
}
.icon {
    width: 100%;
}
.btn {
    padding: 0 20px;
}
.form-btn {
    margin: 30px 0;
    padding: 12px 16px;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color:white;
    background-color: rgb(204, 0, 0);
    box-shadow: 0 0 21px rgba(0, 0, 0, 0.027);
}

.form-footer {
    font-size: 16px;
    margin-bottom: 20px;
}